@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@700&display=swap");
@import url("../Multimedia/Fonts/Gilroy-FREE");
@import url("../Multimedia/Fonts/Gilroy-FREE/Gilroy-Light.otf");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@700&display=swap");
@import url("../Multimedia/Fonts/Gilroy-FREE");
@import url("../Multimedia/Fonts/Gilroy-FREE/Gilroy-Light.otf");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  color: #3f3e3e; }

/* BARRA DE NAVEGACION */
.nav__full {
  position: sticky;
  top: 0px;
  font-family: 'Roboto', sans-serif;
  color: #490a98; }

.nav__top {
  background-color: #e9e9e9;
  width: 100%;
  height: 160px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: space-around; }

.nav__box {
  width: 33%;
  height: auto;
  text-align: center; }
  .nav__box a h3 {
    color: #490a98;
    border-style: solid 4px;
    border-color: #490a98;
    cursor: pointer; }
  .nav__box a h3:hover {
    transform: scale(1.1); }

.nav__links {
  background-color: #e9e9e9;
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 0; }
  .nav__links a {
    color: #490a98;
    font-size: 23px;
    text-decoration: none; }
  .nav__links a:hover {
    color: #FFFFFF;
    background-color: #06d9e0;
    text-decoration: none;
    transform: scale(1.15); }

/* OCULTA MENU RESPONSIVE */
.nav__responsive {
  display: none; }

/* MODAL */
.modal span {
  color: #490a98; }

.modal-body ul {
  padding: 2rem; }

/* FOOTER */
footer {
  position: sticky;
  margin-bottom: 0px;
  width: 100%;
  background-color: #e9e9e9;
  color: #490a98;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: space-around; }

.footer__caja {
  width: 33%;
  height: auto;
  text-align: left;
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .footer__caja h4 a {
    text-decoration: none;
    color: #490a98; }
  .footer__caja h4 a:hover {
    color: #f3ca43;
    text-decoration: none;
    transform: scale(1.1); }
  .footer__caja ul li a {
    text-decoration: none;
    color: #490a98; }
  .footer__caja ul li a:hover {
    color: #f3ca43;
    transform: scale(1.1); }

.footer__caja__logo {
  margin-top: 10px;
  text-align: center; }

@media (max-width: 576px) and (max-width: 768px) {
  .nav__box img {
    width: -webkit-fill-available;
    height: auto; }
  .nav__box a h3 {
    padding: 5px;
    font-size: 1.3rem; }
  /* OCULTA MENU NORMAL */
  .nav__full {
    display: none; }
  /* MUESTRA MENU RESPONSIVE */
  .nav__responsive {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -24px; }
    .nav__responsive label {
      width: 100%; }
    .nav__responsive span {
      padding: 20px;
      background: #e9e9e9;
      color: #490a98;
      font-size: 1.2em;
      font-variant: small-caps;
      cursor: pointer;
      display: block; }
    .nav__responsive span::after {
      float: right;
      right: 10%;
      content: "+"; }
    .nav__responsive li a {
      text-decoration: none;
      color: #490a98; }
  .nav__slide {
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease; }
    .nav__slide li {
      padding: 20px; }
  #touch {
    position: absolute;
    opacity: 0;
    height: 0px; }
  #touch:checked + .nav__slide {
    height: 350px; }
  /* FOOTER  */
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  .footer__caja {
    width: 100%;
    height: auto;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  .footer__caja {
    width: 100%;
    height: auto;
    text-align: center; } }

.banner__Contacto {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0; }
  .banner__Contacto img {
    height: 100%;
    width: 100%; }

.container {
  margin-top: 100px; }

.contact-form {
  list-style-type: none; }
  .contact-form li div {
    margin-bottom: 2.5em; }
  .contact-form input,
  .contact-form textarea,
  .contact-form select {
    width: 100%;
    margin: 0;
    padding-bottom: 1.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid #f3ca43;
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #3f3e3e;
    font-weight: 700;
    font-size: 18px;
    transition: ease-in-out 0.25s; }
  .contact-form textarea {
    min-height: 50px;
    max-height: 500px;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: vertical;
    overflow: hidden; }
  .contact-form ::-webkit-input-placeholder {
    font-size: 12px;
    color: #3f3e3e;
    text-transform: uppercase;
    font-weight: 400; }
  .contact-form label {
    font-size: 12px;
    color: #3f3e3e;
    text-transform: uppercase;
    font-weight: 400; }
  .contact-form input:focus,
  .contact-form select:focus,
  .contact-form textarea:focus,
  .contact-form button:focus {
    outline: none;
    resize: none;
    border-bottom: 3px solid #490a98; }
  .contact-form #slider-range-min {
    outline: 0;
    background: #f8d38e;
    height: 3.6em;
    border: 0;
    border-radius: 0; }
  .contact-form #slider-range-min .ui-slider-range {
    background: #490a98;
    border-radius: 0; }
  .contact-form #slider-range-min .ui-slider-handle {
    outline: 0;
    top: 1.1em;
    margin-left: -0.6em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    background: white;
    cursor: pointer; }
  .contact-form #amount {
    border: 0;
    color: #3f3e3e;
    font-weight: 500;
    font-size: 28px;
    padding-top: 1.1em;
    letter-spacing: 3px; }
  .contact-form button {
    color: #3f3e3e;
    background: rgba(34, 34, 34, 0);
    border: 3px solid #490a98;
    height: 74px;
    width: 200px;
    float: right;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s; }
  .contact-form button:hover {
    background: #f3ca43;
    color: #490a98; }

.contacto {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 500px;
  position: relative;
  margin-top: 120px;
  margin-bottom: 50px; }

.contacto__texto {
  background-color: #FFFFFF;
  max-width: 100%;
  max-height: auto;
  justify-content: start; }
  .contacto__texto h2 {
    color: #000000;
    font-family: 'Archivo Black', sans-serif;
    font-size: 80px;
    margin-top: 20px;
    margin-left: 20px; }
  .contacto__texto p {
    color: #000000;
    font-family: 'Gilroy', sans-serif;
    font-size: 35px;
    text-align: start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; }

.contacto__imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  background-color: #c8b5e0;
  max-width: 100%;
  max-height: 100%;
  text-align: center; }
  .contacto__imagenes a img {
    width: 120px;
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
