@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("../Multimedia/Fonts/Gilroy-FREE/Gilroy-ExtraBold.otf");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("../Multimedia/Fonts/Gilroy-FREE/Gilroy-ExtraBold.otf");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  color: #3f3e3e; }

/* BARRA DE NAVEGACION */
.nav__full {
  position: sticky;
  top: 0px;
  font-family: 'Roboto', sans-serif;
  color: #490a98; }

.nav__top {
  background-color: #e0e0e0;
  width: 100%;
  height: 160px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: space-around; }

.nav__box {
  width: 33%;
  height: auto;
  text-align: center; }
  .nav__box a h3 {
    color: #490a98;
    border-style: solid 4px;
    border-color: #490a98;
    cursor: pointer; }
  .nav__box a h3:hover {
    transform: scale(1.1); }

.nav__links {
  background-color: #e0e0e0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 0; }
  .nav__links a {
    color: #490a98;
    font-size: 23px;
    text-decoration: none; }
  .nav__links a:hover {
    color: #FFFFFF;
    background-color: #06d9e0;
    text-decoration: none;
    transform: scale(1.15); }

/* OCULTA MENU RESPONSIVE */
.nav__responsive {
  display: none; }

/* MODAL */
.modal span {
  color: #490a98; }

.modal-body ul {
  padding: 2rem; }

/* FOOTER */
footer {
  position: sticky;
  margin-bottom: 0px;
  width: 100%;
  background-color: #e0e0e0;
  color: #490a98;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: space-around; }

.footer__caja {
  width: 33%;
  height: auto;
  text-align: left;
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .footer__caja h4 a {
    text-decoration: none;
    color: #490a98; }
  .footer__caja h4 a:hover {
    color: #f3ca43;
    text-decoration: none;
    transform: scale(1.1); }
  .footer__caja ul li a {
    text-decoration: none;
    color: #490a98; }
  .footer__caja ul li a:hover {
    color: #f3ca43;
    transform: scale(1.1); }

.footer__caja__logo {
  margin-top: 10px;
  text-align: center; }

/*QUE HACEMOS*/
.obra {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 500px;
  position: relative;
  margin-top: 120px; }

.obra__img {
  background-color: #c8b5e0;
  max-width: 100%;
  max-height: 100%;
  text-align: center; }

.obra__text {
  background-color: #FFFFFF;
  max-width: 100%;
  max-height: auto;
  justify-content: start; }
  .obra__text h2 {
    color: #000000;
    font-family: 'Gilroy', sans-serif;
    font-size: 80px;
    margin-top: 20px;
    margin-left: 20px; }
  .obra__text h2 {
    rotate: 360; }
  .obra__text p {
    color: #000000;
    font-family: 'Gilroy', sans-serif;
    font-size: 35px;
    text-align: start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; }

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

/*QUIÉNES SOMOS*/
.historia {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
  height: auto;
  position: relative;
  background-color: #f3ca43;
  margin-top: 120px; }

.historia__text {
  text-align: center;
  margin-top: 10px; }
  .historia__text h2 {
    color: #FFFFFF;
    font-family: 'Gilroy', sans-serif;
    font-size: 80px;
    margin-top: 10px; }
  .historia__text p {
    color: #FFFFFF;
    font-family: 'Gilroy', sans-serif;
    font-size: 30px;
    text-align: left;
    padding: 5%; }

/*PACHOS FOTOS*/
.pachos {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  margin-top: -30px;
  padding: 5px; }

.pachos__fotos {
  max-width: 100%;
  height: auto;
  margin-top: -130px;
  padding: 4px;
  display: inline-block;
  text-align: center;
  box-sizing: content-box; }

.pachos__fotos:hover {
  transform: scale(1.2);
  transition: 1s; }
