@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("../Multimedia/Fonts/Gilroy-FREE/Gilroy-ExtraBold.otf");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("../Multimedia/Fonts/Gilroy-FREE/Gilroy-ExtraBold.otf");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  color: #3f3e3e; }

/* BARRA DE NAVEGACION */
.nav__full {
  position: sticky;
  top: 0px;
  font-family: 'Roboto', sans-serif;
  color: #490a98; }

.nav__top {
  background-color: #e0e0e0;
  width: 100%;
  height: 160px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: space-around; }

.nav__box {
  width: 33%;
  height: auto;
  text-align: center; }
  .nav__box a h3 {
    color: #490a98;
    border-style: solid 4px;
    border-color: #490a98;
    cursor: pointer; }
  .nav__box a h3:hover {
    transform: scale(1.1); }

.nav__links {
  background-color: #e0e0e0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 0; }
  .nav__links a {
    color: #490a98;
    font-size: 23px;
    text-decoration: none; }
  .nav__links a:hover {
    color: #FFFFFF;
    background-color: #06d9e0;
    text-decoration: none;
    transform: scale(1.15); }

/* OCULTA MENU RESPONSIVE */
.nav__responsive {
  display: none; }

/* MODAL */
.modal span {
  color: #490a98; }

.modal-body ul {
  padding: 2rem; }

/* FOOTER */
footer {
  position: sticky;
  margin-bottom: 0px;
  width: 100%;
  background-color: #e0e0e0;
  color: #490a98;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: space-around; }

.footer__caja {
  width: 33%;
  height: auto;
  text-align: left;
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .footer__caja h4 a {
    text-decoration: none;
    color: #490a98; }
  .footer__caja h4 a:hover {
    color: #f3ca43;
    text-decoration: none;
    transform: scale(1.1); }
  .footer__caja ul li a {
    text-decoration: none;
    color: #490a98; }
  .footer__caja ul li a:hover {
    color: #f3ca43;
    transform: scale(1.1); }

.footer__caja__logo {
  margin-top: 10px;
  text-align: center; }

.banner {
  width: 100%;
  height: 560px;
  background-image: url(../Multimedia/banner1.png);
  background-size: cover; }
  .banner h1 {
    width: 100%;
    height: 100%;
    align-self: center;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 90px;
    text-shadow: 4px 2px 7px #969696; }

.titulo {
  margin: 30px; }
  .titulo h1 {
    color: #490a98; }

/*PREGUNTAS*/
.card-header {
  background-color: #FFFFFF;
  border: none; }
  .card-header .mb-0 .btn {
    text-decoration: none;
    font-size: 20px;
    color: #490a98; }

.preguntas {
  display: grid;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  margin-bottom: 50px; }

.preguntas__block__ask {
  max-width: 100%;
  max-height: 100%;
  background-color: #FFFFFF;
  margin-top: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1; }
  .preguntas__block__ask h3 {
    max-width: 100%;
    height: auto;
    border-style: dotted;
    border-color: #490a98;
    color: #490a98;
    font-family: 'Gilroy', sans-serif;
    font-size: 55px;
    margin-left: 20px;
    margin-top: -20px;
    text-align: center; }

.preguntas__block_ans {
  max-width: 100%;
  height: auto;
  background-color: #f8d38e;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1; }
  .preguntas__block_ans p {
    width: 99%;
    height: auto;
    font-family: 'Gilroy', sans-serif;
    font-size: 35px;
    color: #3f3e3e; }

/*parte 2*/
.preguntas__block__ask2 {
  max-width: 100%;
  height: auto;
  background-color: #c8b5e0;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2; }
  .preguntas__block__ask2 h3 {
    max-width: 100%;
    height: auto;
    font-family: 'Gilroy', sans-serif;
    font-size: 45px;
    color: #FFFFFF; }

.preguntas__block_ans2 {
  max-width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border-style: dotted;
  border-color: #490a98;
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2; }
  .preguntas__block_ans2 p {
    width: 99%;
    height: 200px;
    font-family: 'Gilroy', sans-serif;
    font-size: 35px;
    color: #490a98;
    vertical-align: middle; }

/*TERCERA PREGUNTA*/
.preguntas__block__ask3 {
  max-width: 100%;
  max-height: 100%;
  background-color: #FFFFFF;
  margin-top: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3; }
  .preguntas__block__ask3 p {
    width: 99%;
    height: 200px;
    font-family: 'Gilroy', sans-serif;
    font-size: 35px;
    color: #490a98;
    vertical-align: middle; }
  .preguntas__block__ask3 h3 {
    width: 90%;
    height: 170px;
    border-style: dotted;
    border-color: #490a98;
    color: #490a98;
    font-family: 'Gilroy', sans-serif;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 0px;
    text-align: center; }

.preguntas__block_ans3 {
  max-width: 100%;
  height: auto;
  background-color: #f8d38e;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3; }

.preguntas__block_ans3 p {
  width: 99%;
  height: auto;
  font-family: 'Gilroy', sans-serif;
  font-size: 35px;
  color: #3f3e3e; }

/*PREGUNTA 4*/
.preguntas__block__ask4 {
  max-width: 100%;
  height: auto;
  background-color: #c8b5e0;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4; }

.preguntas__block__ask4 h3 {
  max-width: 100%;
  height: auto;
  font-family: 'Gilroy', sans-serif;
  font-size: 45px;
  color: #ffffff; }

.preguntas__block_ans4 {
  max-width: 100%;
  height: auto;
  background-color: #ffffff;
  border-style: dotted;
  border-color: #490a98;
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4; }

.preguntas__block_ans4 p {
  width: 99%;
  height: 200px;
  font-family: 'Gilroy', sans-serif;
  font-size: 35px;
  color: #490a98;
  vertical-align: middle; }
