@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');  
@import url('../Multimedia/Fonts/Gilroy-FREE/Gilroy-ExtraBold.otf');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #3f3e3e;
}


/* BARRA DE NAVEGACION */
nav{ 
    position: sticky;
    top:0px;    
    font-family: 'Roboto', sans-serif;              
    color: #490a98;
  }

  .nav__top {
    background-color: #e0e0e0;
    width: 100%;
    height: 160px; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
  }

  .nav__box{
      width: 33%;
      height: auto;  
      text-align: center; 
      
    }
    

     .nav__box a h3{
         color: #490a98;
         border-style: solid 4px;
         border-color: #490a98;
         
     }

.nav__box a h3:hover{
    transform: scale(1.1);
}


    .nav__links {
        background-color: #e0e0e0;
        width: 100%;
        height: 80px;  
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: space-around;
        justify-content: space-evenly;
        text-align: center;              
    }
     .nav__links a{   
        color: #490a98;
        font-size: 23px;       
        text-decoration: none;         
        }

        .nav__links a:hover{
            color: #ffffff;
            background-color: #f3ca43;
            text-decoration: none;
            transform: scale(1.15);

        }



        /*TITULOS*/

.tittleBox{    
    width: 745px;
    height: 100px;
    background-color: #f8d38e;
    margin-top: 50px;
    margin-left: 30px;    
    margin-bottom: 50px;
}

.tittleBox__decor{
    width: 695px;
    height: 80px;
    background-color: #c8b5e0;
    position: absolute;       
    margin-top: 15px;
    margin-left: 23px;
    vertical-align: middle;
}

    .tittleBox__decor h1{
        width: 678px;
        height: 80px;
        color: #FFFFFF;
        font-family: 'Gilroy', sans-serif;
        font-size: 70px;
        border-style: dotted;
        border-color: #490a98;
        margin-top: -10px;
        margin-left: 20px;    
    }

    .scale-in-bl {
        -webkit-animation: scale-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: scale-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }


@-webkit-keyframes scale-in-bl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-bl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }


/*CATALOGO*/

.catalogo{
    width: 100%;
    height: auto;
}

.catalogo h2{
    font-family: 'Gilroy', sans-serif;
    text-decoration: none;
    font-size: 45px;
    text-align: left;
    color: #490a98;
    background-color: #c8b5e0;
    width: 100%;
    height: 350px;
    position: relative;  
    margin-top: 50px;
}

.catalogo__prod{
    width: 100%;
    height: 400px;
    background-color: transparent;
    position: relative;   
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    margin-top: -150px;

    
}

.catalogo__prod img{
    width: 30%;
    max-width: 80%;
    position: relative;   
    box-sizing: content-box;
    text-align: center;
    margin-top: -150px;
    padding: 10px;
}

.catalogo__prod img:hover{
    transform: scale(1.3);
    transition: 1s;
    z-index: 1;
}

/* FOOTER */
footer{
    position: sticky;
    margin-bottom: 0px;
    width: 100%;
    background-color: #e0e0e0;
    color: #490a98;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    
}
.footer__caja{
    width: 33%;
    height: auto;
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    }

    .footer__caja h4 a{
        text-decoration: none;
        color: #490a98;
    }
    
    .footer__caja h4 a:hover{
        color: #f3ca43;
        transform: scale(1.1);
    }

    .footer__caja ul li a{
        text-decoration: none;
        color: #490a98;
    }
    .footer__caja ul li a:hover{
        color: #f3ca43;
        transform: scale(1.1);
    }

    .footer__caja__logo{
        margin-top: 10px;
        text-align: center;
    }
