@media (max-width: 576px) and (max-width:768px){

    .nav__box img{
        width: -webkit-fill-available;
        height: auto;
    }
    
    .nav__box a h3{
        padding: 5px;
    }
    
    /* OCULTA MENU NORMAL */
    .nav__full{
        display: none;
    }

    /* MUESTRA MENU RESPONSIVE */
.nav__responsive {
    display: block;
    width : 100%;
    height: auto;
    margin: 0; 
}

.nav__responsive span {
  padding : 30px;
  background : #e0e0e0; 
  color : #490a98;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

.nav__responsive span::after {
  float: right;
  right: 10%;
  content: "+";
}

.nav__responsive li a {
    text-decoration: none; 
    color: #490a98;
}

.nav__slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.nav__slide li {
    padding : 30px;
}

#touch {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}    

#touch:checked + .nav__slide {
    height: 300px;
} 
    
 

    .tittleBox{
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-left: 5px;
        margin-bottom: 20px;
    }
    
    
    .tittleBox__decor{
        width: 308px;
        height: 45px;
        margin-left: 6px;
    }
    
    .tittleBox__decor h1{
        width: 300px;
        height: 40px;
        font-size: 28px;
        margin-left: 8px;
        margin-top: 4px;
    }

    .contacto{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        position: relative;
    }

    .formulario{
        margin-left: 10px;
    }

    .formulario label{
        font-size: 18px;
    }

    .formulario select {
        font-size: 15px;
    }

    .formulario a{
        font-size: 16px;
    }

    .formulario2{
        margin-left: 10px;
    }


    .formulario2 label{
        font-size: 18px;
        margin-bottom: 3px;
    }

    .formulario2 select {
        font-size: 15px;
    }

    .formulario2 a{
        font-size: 25px;
        border-radius: 2px;
        margin-left: 125px;
        margin-top: 20px;
    }



    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__caja{
        width:100% ;
        height: auto;
        text-align: center;

    }
 }

 @media (min-width: 768px) and (max-width:1024px){
    
    .tittleBox{
       width: 100%;
       height: auto;
       margin-top: 10px;
       margin-left: 5px;
       margin-bottom: 20px;
   }
   
   
   .tittleBox__decor{
       width: 352px;
       height: 60px;
       margin-left: 10px;
   }
   
   .tittleBox__decor h1{
       width: 350px;
       height: 50px;
       font-size: 34px;
       margin-left: 8px;
       margin-top: 6px;
   }

   form{
       margin-top: 120px;
   }
}