@media (max-width: 576px) and (max-width:768px){
    .nav__box img{
        width: -webkit-fill-available;
        height: auto;
    }
    
    .nav__box a h3{
        padding: 5px;
    }
    
    .nav__links{
        width: 100%;
        height: auto;
       display: flex;
       flex-flow: row wrap; 
       align-content: space-around;
    }
    .nav__links a{
        padding: 4px;
    }
    

   

    .vistaShop{
        display: flex;
        flex-direction: column;
    }
    .vistaShop__caja {
        width: 100%;
        max-height: 100%;
    }

    .vistaShop__texto h2{
        font-size: 50px;
    }

    .vistaShop__texto h3{
        font-size: 30px;
    }
    .vistaShop__texto a{
        font-size: 20px;
    }

    .products__linea h2{
        font-size: 50px;
    }

    .products__img{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;

    }

    .products__img__box{
        width: 80%;
        height: auto;
        margin-top: 5px;
        z-index: 1;
    }



    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__caja{
        width:100% ;
        height: auto;
        text-align: center;

    }
 }
    
 @media (max-width: 768px) and (max-width:1024px){
 
    .vistaShop__texto h2{
        font-size: 50px;
    }

    .vistaShop__texto h3{
        font-size: 28px;
    }
    .products__linea{
        height: 200px;
    }

    .products__linea h2 {
        font-size: 60px;
    }

    .products__img{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        height: auto;
        margin-top: -68px;
        margin-bottom: 40px;

    }

    .products__img__box {
        width: 42%;
        height: auto;
        margin-top: 33px;
        z-index: 1;
    }
}
