@import "../scss/head_footer.scss";
@import "../scss/colores.scss";


//BANNER TITULO
.banner__Catalogo{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    img{
        height: 100%;
        width: 100%;
    }
}   

/*CATALOGO*/

.container-fluid {
    margin-top: 100px;
  }


        
