@import "../scss/head_footer.scss";
@import "../scss/colores.scss";


//BANNER TITULO
.banner__Catalogo{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    img{
        height: 100%;
        width: 100%;
    }
}   

/*CATALOGO*/
        
.catalogo{
    width: 100%;
    height: auto;

        h2{
            font-family: 'Gilroy', sans-serif;
            text-decoration: none;
            font-size: 45px;
            text-align: left;
            color: #490a98;
            background-color: #c8b5e0;
            width: 100%;
            height: 350px;
            position: relative;  
            margin-top: 50px;
        }
}
        
       
        
.catalogo__prod{
    width: 100%;
    height: 400px;
    background-color: transparent;
    position: relative;   
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    margin-top: -150px;
        
        img{
            width: 30%;
            max-width: 80%;
            position: relative;   
            box-sizing: content-box;
            text-align: center;
            margin-top: -150px;
            padding: 10px;
        }

        img:hover{
            transform: scale(1.3);
            transition: 1s;
            z-index: 1;
        }
}
        
    