@import "../scss/head_footer.scss";
@import "../scss/colores.scss";

//BANNER TITULO
.banner__Contacto{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    img{
        height: 100%;
        width: 100%;
    }
}   

/*FORMULARIO*/
.contacto{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin-bottom: 150px;
}

.formulario{
    max-width: 100%;
    height: auto;
    margin-left: 20px;
    text-align: left;
    
    label{
        font-size: 25px;
    }  
    select{
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: #490a98 3px;
        font-size: 20px;
        color: #490a98;     
    }
    a{
        cursor: pointer;
        background-color: #c8b5e0;     
        color: #FFFFFF;
        font-size: 20px;
    }
    input{
        border-style: solid;
        border-color: #490a98;
        color: #490a98;
        vertical-align: super;
        border-radius: 0px;
    }
    textarea{
        border-style: solid;
        border-color: #490a98;
        font-style: oblique;
        font-family: 'Gilroy', sans-serif;
        color: #868383;
        vertical-align: text-top;
        border-radius: 0px;
    }
        
}

.formulario2{
    width: 100%;
    margin-left: 50px;
    text-align: left;
    label{
        font-size: 25px;
    }
    input{
        border-style: double;
        border-left: hidden;
        border-right: hidden;
        border-top: hidden;
        border-color: #490a98;
        border-radius: 0px;
        width: 300px;
    }
    textarea{
        border-style: solid;
        border-color: #490a98;
        font-style: oblique;
        font-family: 'Gilroy', sans-serif;
        color: #868383;
        border-radius: 0px;
        vertical-align: text-top;
    }
    a {
        background-color: #490a98;
        color: #ffffff;
        font-size: 30px;
        border-style: initial;
        border-block-color: #490a98;
        border-radius: 4px;
        cursor: pointer;
        float: left;
    }
    a:hover{
        background-color: #f3ca43;
        color: #490a98;
        transform: scale(1.1);
       }

}

 