@import "../scss/head_footer.scss";
@import "../scss/colores.scss";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&family=Roboto:wght@700&display=swap');

//BANNER TITULO
.banner__Contacto{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    img{
        height: 100%;
        width: 100%;
    }
}   


//FORMULARIO
 
  .container {
    margin-top: 100px;
  }
  
  .contact-form {
        list-style-type: none;
        li{
            div {
                margin-bottom: 2.5em;
            }
        }

        input,
        textarea,
        select {
            width: 100%;
            margin: 0;
            padding-bottom: 1.4em;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            border-bottom: 3px solid $amarillo;
            background: $blanco;
            font-family: "Roboto", sans-serif;
            color: $gris_text;
            font-weight: 700;
            font-size: 18px;
            transition: ease-in-out 0.25s;
        }
        textarea {
            min-height: 50px;
            max-height: 500px;
            white-space: pre-wrap;
            word-wrap: break-word;
            resize: vertical;
            overflow: hidden;
        }
        ::-webkit-input-placeholder {
            font-size: 12px;
            color:$gris_text;
            text-transform: uppercase;
            font-weight: 700;
        }
        label {
            font-size: 12px;
            color: $gris_text;
            text-transform: uppercase;
            font-weight: 700;
        }
        input:focus,
        select:focus,
        textarea:focus,
        button:focus {
            outline: none;
            resize: none;
            border-bottom: 3px solid $morado;
        }
        #slider-range-min {
            outline: 0;
            background: $amarillo_claro;
            height: 3.6em;
            border: 0;
            border-radius: 0;
        }

        #slider-range-min{
            .ui-slider-range {
                background: $morado;
                border-radius: 0;
            }
          
            .ui-slider-handle {
                outline: 0;
                top: 1.1em;
                margin-left: -0.6em;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 0;
                background: white;
                cursor: pointer;
            }
        } 
        #amount {
            border: 0;
            color: $gris_text;
            font-weight: 500;
            font-size: 28px;
            padding-top: 1.1em;
            letter-spacing: 3px;
        }
        button {
            color: $gris_text;
            background: rgba(34, 34, 34, 0);
            border: 3px solid $morado;
            height: 74px;
            width: 200px;
            float: right;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: ease-in-out 0.25s;

        }
        button:hover {
            background: $amarillo;
            color: $morado;
        }
    }

    .contacto{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 500px;
        position: relative;
        margin-top: 120px;
        margin-bottom: 50px;
    }

    .contacto__texto{
        background-color: $blanco;
        max-width: 100%;
        max-height: auto;
        justify-content: start;
        h2 {
            color: $negro;
            font-family: 'Archivo Black', sans-serif;
            font-size: 60px;
            margin-top: 100px;
            margin-left: 60px;
        }
        p{
            color: $negro;
            font-family: 'Gilroy', sans-serif;
            font-size: 20px;
            text-align: start;
            margin-top: 40px;
            margin-left: 60px;
            margin-right: 20px;
        }
    }

    .contacto__imagenes {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: flex-start;
        background-color: $amarillo_claro;
        max-width: 100%;
        max-height: 100%;
        text-align: center;
        a{
            img{
                width: 120px;
                height: auto;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }




  