@import "../scss/colores.scss";


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: $gris_text;
}



/* BARRA DE NAVEGACION */
.nav__full{ 
    position: sticky;
    top:0px;    
    font-family: 'Roboto', sans-serif;              
    color: $morado;
  }

  .nav__top {
    background-color: $gris_fondo;
    width: 100%;
    height: 160px; 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
  }

  .nav__box{
      width: 33%;
      height: auto;  
      text-align: center; 
      a{
          h3{
         color: $morado;
         border-style: solid 4px;
         border-color: $morado;
         cursor: pointer;
        }  
        h3:hover{
            transform: scale(1.1);
        }
        } 
    }

    .nav__links {
        background-color: $gris_fondo;
        width: 100%;
        height: 80px;  
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: space-around;
        justify-content: space-evenly;
        text-align: center; 
        margin-bottom: 0;
        
        a{
            color: $morado;
            font-size: 23px;       
            text-decoration: none;
        }

        a:hover{
            color: $blanco;
            background-color: $amarillo;
            text-decoration: none;
            transform: scale(1.15);
        }

    }
     
        
 /* OCULTA MENU RESPONSIVE */
.nav__responsive{
    display: none;
}


/* MODAL */
.modal{
    span{
      color: $morado;  
    }
}

.modal-body {
    ul {
    padding: 2rem;
    }
}
 

/* FOOTER */
footer{
    position: sticky;
    margin-bottom: 0px;
    width: 100%;
    background-color: $gris_fondo;
    color: $morado;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    
}

.footer__caja{
    width: 33%;
    height: auto;
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    

    h4{
        a{
            text-decoration: none;
            color: $morado;
        }
    
        a:hover{
            color: $amarillo;
            text-decoration: none;
            transform: scale(1.1);
        }
    }

    ul{
        li{
            a{
            text-decoration: none;
            color: $morado;
            }
            
            a:hover{
            color: $amarillo;
            transform: scale(1.1);
            }
        }      

    }
}

.footer__caja__logo{
    margin-top: 10px;
    text-align: center;
}

// RESPONSIVE

@media (max-width: 576px) {
    .nav__box{

        img{
        width: -webkit-fill-available;
        height: auto;
        }
        a{
           h3{
                padding: 5px;
                font-size: 1.3rem;
            } 
        } 

    } 

    
    /* OCULTA MENU NORMAL */
    .nav__full{
        display: none;
    }

    /* MUESTRA MENU RESPONSIVE */
    .nav__responsive {
        display: block;
        width : 100%;
        height: auto;
        margin-bottom: -24px;; 

        label{
        width: 100%;
        }

        span {
            padding : 20px;
            background : $gris_fondo; 
            color : $morado;
            font-size : 1.2em;
            font-variant : small-caps;
            cursor : pointer;
            display: block;
        }
        span::after {
            float: right;
            right: 10%;
            content: "+";
        }

        li {
            a {
                text-decoration: none; 
                color: $morado;
            }
        }
    }


    .nav__slide {
        clear:both;
        width:100%;
        height:0px;
        overflow: hidden;
        text-align: center;
        transition: height .4s ease;
        

        li {
            padding : 20px;
        }
    }


    #touch {
        position: absolute; 
        opacity: 0; 
        height: 0px;
    }    

    #touch:checked + .nav__slide {
        height: 350px;
    } 

/* FOOTER  */

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__caja{
        width:100% ;
        height: auto;
        text-align: center;

    }

}

@media (min-width: 576px) and (max-width:768px){
    /* FOOTER  */

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__caja{
        width:100% ;
        height: auto;
        text-align: center;

    }

}


@media (min-width: 768px) and (max-width:1024px){
    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__caja{
        width:100% ;
        height: auto;
        text-align: center;

    }
}