@import "../scss/head_footer.scss";
@import "../scss/colores.scss";


.banner{
    width: 100%;
    height: 560px;
    background-image: url(../Multimedia/banner1.png);
    background-size: cover;
    
    
    h1{
        width: 100%;
        height: 100%;
        align-self: center;
        color: $blanco;
        text-align: center;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 90px;
        text-shadow: 4px 2px 7px rgba(150, 150, 150, 1);
    }
}

// TITULOS
.titulo{
    margin: 30px;
    h1{
        color: $morado;
    }
}


    /*PREGUNTAS*/
.card-header{ 
    background-color: $blanco;
    border: none;
    .mb-0 {
        .btn{
            text-decoration: none;
            font-size: 20px;
            color: $morado;
        }
        .btn:hover{
            color: $amarillo;
        }
    }
}

@media (max-width: 576px) and (max-width:768px){
    .banner{
        width: 100%;
        height: 180px;
        margin: 0;   
        
        h1{
            font-size: 50px;
            
        }
    }
}